
<input type="text" name="" value="" placeholder="Enter noun" ng-model="mad.noun1">
<input type="text" name="" value="" placeholder="Enter verb" ng-model="mad.verb1">
<input type="text" name="" value="" placeholder="Enter adjective" ng-model="mad.adj1">
<input type="text" name="" value="" placeholder="Enter noun" ng-model="mad.noun2">
<input type="text" name="" value="" placeholder="Enter verb" ng-model="mad.verb2">
<input type="text" name="" value="" placeholder="Enter adjective" ng-model="mad.adj2">
<input type="text" name="" value="" placeholder="Enter noun" ng-model="mad.noun3">
<button type="button" name="button" ng-click="addInput(mad)">Submit</button>
